.contato{
    background: var(--second-bg-color);
}
.contato h2{
    margin-bottom: 3rem;
    color: snow;
}
.contato form{
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    text-align: center;
}
.contato form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contato form .input-box input,
.contato form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--main-color);
    margin: 1rem 0;
    resize: none;
}
.contato form .btn{
    margin-top: 2rem;
}